<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="list.css">
    </head>
    <body>
        <header>
        </header>
        <main>
            <h2>顧客リスト</h2>
            <ul>
                <li>
                    <span class="name">田中太郎</span>
                    <span class="email">sample@example.cmo</span>
                    <span class="buttons">
                        <a href="#">詳細</a>
                        <a href="#">参照</a>
                        <a href="#" class="edit">編集</a>
                        <a href="#" class="delete">削除</a>
                        
                    </span>
                </li>
            </ul>
        </main>
        <footer></footer>
    </body>
</html>